:root {
    --theme-green: #04AA6D;
    --theme-white: #dee2e6;
    --theme-dark: #212529;
}

html {

    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    touch-action: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

}

.appartment {
    overflow: hidden;
    padding: 0;
    margin: 0 1rem;
}

.floor {
    flex: 1 0 auto;
    padding: 1rem 2rem 0rem 2rem;
    width: 100%;
}

.f1 {
    position: fixed;
    padding-top: 2rem;
    z-index: 1000;
    background-color: var(--theme-dark);
}

.f2 {
    scrollbar-width: 0px;
    position: relative;
    margin-top: 300px;
}


.toolbar {
    float: right;
    background: none;
    border: none;
    border-radius: 50%;
    color: var(--theme-green);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    cursor: pointer;
}

.tooltip1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--theme-green);
    color: var(--theme-white);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -55%;
    right: 130%;
    margin-left: -60px;
    font: caption;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 99%;
    margin-top: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent var(--theme-green);
}

.tooltip1:hover .tooltiptext {
    visibility: visible;
}

#theme_form {
    white-space: pre-wrap;
    margin-top: 0px;
}

#fileInput {
    position: absolute;
    opacity: 0;
    padding: 15px 32px;
}

.form-control {
    display: inline-block !important;
    width: fit-content !important;
    min-width: 3em;
    margin-left: 5px;
}

#logo {
    float: left;
    width: fit-content;
}

#AppTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    margin-bottom: 25px;
}

#AppTitle div b {
    font-size: x-large;
}

.box-container {
    display: flex;
    /* Optional spacing */
}

.box {
    flex: 1;
    /* Adjust width dynamically */
    margin: 20px 20px 20px 0px;
}

small {
    font-size: 0.7em;
}

ol {
    list-style: none;
    counter-reset: li-counter;
}

ol li:last-child {
    border-top: 0px !important;
}

ol li {
    counter-increment: li-counter;
    border-top: 2px dashed var(--theme-white);
}

ol li.done {
    border-top: solid var(--theme-green);
}

ol li::before {
    content: counter(li-counter);
    color: var(--theme-dark);
    font-weight: bold;
    font-size: x-large;
    width: 50px;
    height: 50px;

    border-radius: 25px;
    display: block;
    text-align: center;
    padding: 3px;
    margin: -25px 10px 10px -25px;
    background-color: var(--theme-white);
}

ol li.done::before {
    background-color: var(--theme-green);
}

li button {
    background-color: var(--theme-green);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

ol li input {
    width: 90%;
}

#theme_form p {
    display: none;
}